.menu-desktop {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  column-gap: 8px;
}

.menu-desktop__group-arrow {
  color: var(--text-secondary);

  .menu-desktop__group:is(:hover, :focus-within) & {
    scale: -1;
  }
}

.menu-desktop__link {
  display: flex;
  column-gap: 4px;
  align-items: center;
  padding: 8px;
  color: var(--text-secondary);
  text-decoration: none;

  .menu-desktop__group:is(:hover, :focus-within) & {
    background-color: var(--background-secondary);
    color: var(--text-primary);
  }
}

.menu-desktop__list {
  position: absolute;
  margin: 0;
  padding: 12px;
  width: max-content;
  background-color: var(--background-primary);
  border: 1px solid var(--text-secondary);
  list-style: none;

  .menu-desktop__group:not(:is(:hover, :focus-within)) & {
    display: none;
  }
}

.menu-desktop__list-link {
  display: block;
  padding: 4px;
  color: var(--text-primary);
  text-decoration: none;

  &:hover {
    background-color: var(--background-secondary);
  }
}

.menu-desktop__list-description {
  display: block;
  color: var(--text-secondary);
  font-size: 12px;
}
